.icon-button {
  border: none!important;
  cursor: pointer!important;
  padding: 2px!important;
  display: inline-flex!important;
  align-items: center!important;
  justify-content: center!important;
}

/* Icon color sets */
.icon-primary {
  background-color: #1976d2;  /* Blue 700 */
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.icon-secondary {
  background-color: #616161;  /* Grey 700 */
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.icon-outline {
  background-color: transparent;
  color: #1976d2; /* Blue 700 */
  border: 1px solid #1976d2;
  border-radius: 4px;
  padding: 4px;
}

.icon-warning {
  background-color: #ffeb3b; /* Yellow 500 */
  color: black;
  border-radius: 4px;
  padding: 4px;
}

.icon-danger {
  background-color: #d32f2f; /* Red 700 */
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.icon-success {
  background-color: #388e3c; /* Green 700 */
  color: white;
  border-radius: 4px;
  padding: 4px;
}


html, body { height: 100%!important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif!important; }
:host {               /* the root element of your component */
  display:block!important;
  height:100vh!important;       /* or whatever you need */
}
.map-container {
  width:100%!important;
  height:100%!important;
}

.btn-sm {
  padding: 0.25rem 0.5rem!important;
}
