.icon-button {
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Icon color sets */
.icon-primary {
  background-color: #1976d2;  /* Blue 700 */
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.icon-secondary {
  background-color: #616161;  /* Grey 700 */
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.icon-outline {
  background-color: transparent;
  color: #1976d2; /* Blue 700 */
  border: 1px solid #1976d2;
  border-radius: 4px;
  padding: 4px;
}

.icon-warning {
  background-color: #ffeb3b; /* Yellow 500 */
  color: black;
  border-radius: 4px;
  padding: 4px;
}

.icon-danger {
  background-color: #d32f2f; /* Red 700 */
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.icon-success {
  background-color: #388e3c; /* Green 700 */
  color: white;
  border-radius: 4px;
  padding: 4px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:host {               /* the root element of your component */
  display:block;
  height:100vh;       /* or whatever you need */
}
.map-container {
  width:100%;
  height:100%;
}

