<h2 mat-dialog-title>Choose a Persona</h2>
<mat-dialog-content>
  <p>Press <b>F-2</b> to <b>F-5</b> keys for <b>switching between different personas</b>.</p>

  <div style="display: flex; gap: 2rem;">
    <div class="col">
      <h2>F2 - DESIGNER</h2>
      <p>Designs the map and assigns them to territories.</p>
      <h2>F3 - MANAGER</h2>
      <p>Manage the territories, assigning them to preachers or groups.</p>
      <h2>F4 - PREACHER</h2>
      <p>It simulates the view from the perspective of a preacher.</p>
      <h2>F5 - GROUP LEADER</h2>
      <p>It simulates the view from the perspective of a group leader.</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
