<h2 mat-dialog-title>{{appName}}</h2>
<mat-dialog-content>
    <p>Version {{version}}</p>
    <p>Press <b>F-11</b> key for <b>fullscreen</b>.</p>

    <div *ngIf="!home">
        <h2>TODO List</h2>
        <ul>
            <li *ngIf="!home">Set your home coordinates, click on the <mat-icon>home</mat-icon> "home" button!</li>
        </ul>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <a style="position:absolute!important; left: 1rem!important; color:white" href="https://github.com/hydrogen2oxygen/final-approach-rust" target="github">{{appName}} on Github</a>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
