<div class="map-container" id="map"></div>
<div class="sidebar" style="position: fixed; left: 1rem; top: 1rem; display: flex; flex-direction: column; gap: 0.5rem;">
    <button class="icon-button icon-primary" (click)="openDialog()" title="Info">
        <mat-icon>info_outline</mat-icon>
    </button>
</div>

<div  style="position: fixed; left: 5rem; top: 1rem; display: flex; flex-direction: row; gap: 0.5rem;">
  @switch (persona) {
    @case ('DESIGNER') {
      <button class="icon-button icon-primary" title="DESIGNER" (click)="openPersonaDialog()"><mat-icon>design_services</mat-icon> <span>DESIGNER</span></button>
      <button class="icon-button icon-success" (click)="saveHome()" title="Set Home Coordinates"><mat-icon>home</mat-icon></button>

      @if (interaction) {
        <button class="icon-button icon-primary" (click)="removeInteraction()" title="Stop Editing (ESC)">
          <mat-icon>stop_circle</mat-icon><b>ESC</b>
        </button>
      }
      <button class="icon-button icon-primary" [class.activeMode]="interactionType == 'DRAW'" (click)="drawPolygon()" title="Draw Polygon (CTRL + D)">
        <mat-icon>polyline</mat-icon><b>D</b>
      </button>
      <button class="icon-button icon-warning" [class.activeMode]="interactionType == 'EDIT'" (click)="editFeature()" title="Edit Polygon (CTRL + E)">
        <mat-icon>edit</mat-icon><b>E</b>
      </button>
      @if (modifiedFeatures) {
        <button class="icon-button icon-warning" (click)="saveModifications()" title="Save (CTRL + S)">
          <mat-icon>save</mat-icon><b>S</b>
        </button>
      }
      @if (lastSelectedFeature) {
        <button class="icon-button icon-danger" (click)="deleteFeature()" title="Delete Polygon">
          <mat-icon>delete</mat-icon><b>DEL</b>
        </button>
      }
      <a class="icon-button icon-primary" href="https://www.google.com/maps/@{{getCoordinates(map.getView().getCenter()).toString().split(',')[1]}},{{getCoordinates(map.getView().getCenter()).toString().split(',')[0]}},{{map.getView().getZoom()}}z" target="googleMaps"><mat-icon>map</mat-icon><b>G</b></a>
    }
    @case ('MANAGER') {
      <button class="icon-button icon-primary" title="MANAGER" (click)="openPersonaDialog()"><mat-icon>manage_accounts</mat-icon> <span>MANAGER</span></button>
    }
    @case ('PREACHER') {
      <button class="icon-button icon-primary" title="PREACHER" (click)="openPersonaDialog()"><mat-icon>people</mat-icon> <span>PREACHER</span></button>
      <button class="icon-button icon-primary" title="Share Link"><mat-icon>share</mat-icon></button>
    }
    @case ('GROUP_LEADER') {
      <button class="icon-button icon-primary" title="GROUP LEADER" (click)="openPersonaDialog()"><mat-icon>group</mat-icon> <span>GROUP LEADER</span></button>
    }
  }
</div>

@if (lastSelectedFeature) {
  <div style="position: fixed; bottom: 1rem; left: 1rem; margin: 1rem; background-color: #97d0f8; border-radius: 0.5rem; padding: 0.75rem;">
    <div class="input-group input-group-sm mb-0 align-items-center">
      <input class="form-control" type="text" placeholder="number" [formControl]="territoryCustomNumber">
      <input class="form-control" type="text" placeholder="territory name" [formControl]="territoryCustomName">
      <input class="form-control" type="text" placeholder="note" [formControl]="note">
      <button style="margin-left: 0.2rem" class="btn btn-primary" (click)="saveMapForTerritory()">Save Map for Territory</button>
    </div>
  </div>
}
