<div class="map-container" id="map"></div>
<div class="sidebar" style="position: fixed; left: 1rem; top: 1rem; display: flex; flex-direction: column; gap: 0.5rem;">
    <button class="icon-button icon-primary" (click)="openDialog()" title="Info">
        <mat-icon>info_outline</mat-icon>
    </button>
    <button class="icon-button icon-success" (click)="saveHome()" title="Info">
        <mat-icon>home</mat-icon>
    </button>

</div>

<div  style="position: fixed; left: 5rem; top: 1rem; display: flex; flex-direction: row; gap: 0.5rem;">
  <button class="icon-button icon-primary" (click)="drawPolygon()" title="Draw Polygon">
    <mat-icon>polyline</mat-icon>
  </button>
  <button class="icon-button icon-warning" title="Save">
    <mat-icon>edit</mat-icon>
  </button>
  <button class="icon-button icon-warning" title="Save">
    <mat-icon>save</mat-icon>
  </button>
</div>
